<Configuration status="INFO">
    <CustomLevels>
        <CustomLevel name="BACKUP" intLevel="350" />
        <CustomLevel name="NOTICE" intLevel="390" />
        <CustomLevel name="REPAIR" intLevel="380" />
    </CustomLevels>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%-6p] %c{1} – %m%n"/>
        </Console>
        <RollingRandomAccessFile name="LogToRollingFile" fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d [%-6p] %c{1} – %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="LogToDebugFile" fileName="logs/debug.log" filePattern="logs/$${date:yyyy-MM}/debug-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d [%-6p] %c{1} – %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <LevelRangeFilter minLevel="DEBUG" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.faustobranco" level="all" additivity="false">
            <AppenderRef ref="LogToRollingFile" level="INFO"/>
            <AppenderRef ref="LogToDebugFile" level="ALL"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
